<h1>Edit Match</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.match_path(@conn, :update, @match)) %>

<span><%= link "Back", to: Routes.league_match_path(@conn, :index, @match.league_id) %></span>
