<h1>Compare</h1>
<%= if assigns[:players] do %>
  <%= render "compare_form.html", assigns %>
<% else %>
  <h3><%= @player_1.alias %> vs <%= @player_2.alias %></h3>
  <%= render "compare_table.html", assigns %>
<% end %>