<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spire</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/logo.png") %>" />
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="brown darken-2">
          <div class="nav-wrapper container">
            <a class="brand-logo hide-on-med-and-down" href="/"><img height="64px" src="<%= Routes.static_path(@conn, "/images/banner.png") %>"></a>
            <ul class="right">
              <li><%= link "Players", to: Routes.player_path(@conn, :index) %></li>
              <li><%= link "Leagues", to: Routes.league_path(@conn, :index) %></li>
              <li><%= link "About", to: Routes.page_path(@conn, :about) %></li>
              <li>|</li>

              <%= if @conn.assigns[:user] do %>
                <li><%= link "Upload", to: Routes.log_path(@conn, :new) %></li>
                <li><%= link "Profile", to: Routes.player_path(@conn, :show, @conn.assigns[:user].id) %></li>
                <li><%= link "Logout", to: Routes.auth_path(@conn, :delete) %></li>
                <%= if is_admin?(@conn) do %>
                  <li><%= link "Admin", to: Routes.admin_path(@conn, :index) %></li>
                <% end %>
              <% else %>
                <li><%= link "Login", to: Routes.auth_path(@conn, :request, "steam") %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main role="main" class="container">
      <div class="card green lighten-2">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      </div>
      <div class="card red">
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
