<h1>New Match</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.league_match_path(@conn, :create, @league.id)) %>

<span><%= link "Back", to: Routes.league_match_path(@conn, :index, @league.id) %></span>
