<h1>Listing Logs</h1>

<table>
  <thead>
    <tr>
      <th>Logfile</th>
      <th>Map</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for log <- @logs do %>
    <tr>
      <td><%= log.logfile %></td>
      <td><%= log.map %></td>

      <td>
        <span><%= link "Show", to: Routes.log_path(@conn, :show, log) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
