<h1>Listing Leagues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Main League</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for league <- @leagues do %>
      <tr>
        <td>
          <span><%= link league.name, to: Routes.league_path(@conn, :show, league) %></span>
        </td>
        <td><%= if league.main, do: "yes", else: "no" %></td>
        <td><a href="<%= league.website %>">Website</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
